<app-user-form [currentUser]="currentUser" [isNew]="isNew"
               (newUser)="onNewUser()"
               (updateUser)="onUpdateUser($event)"></app-user-form>

<h4 *ngIf="!loaded"><i class="fa fa-spin"></i>Carregando usuários...</h4>
<h4 *ngIf="users?.length == 0">Nenhum usuário encontrado!</h4>

<h4 *ngIf="loaded && users?.length > 0">Usuários</h4>
<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
    <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-light]="user.isActive"
        [style.border-color]="user.isActive ? 'green': 'red'">
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">
                    <img *ngIf="user.image" class="img-fluid" [src]="user.image" alt="{{user.name}}">
                </div>
                <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">
                    <h4 [ngStyle]="currentStyles">
                        {{user.name}}
                        <button (click)="user.hide = !user.hide" class="btn btn-primary btn-sm"><i
                                [ngClass]="'fa fa-'+ (user.hide ? 'plus':'minus')"></i></button>
                    </h4>
                    <ul class="list-group" *ngIf="!user.hide">
                        <li class="list-group-item">E-mail: {{user.email}}</li>
                        <li class="list-group-item">Entrou em: {{user.registered | date:"dd/MM/yyyy"}}</li>
                    </ul>

                    <br>
                    <button (click)="editUser(user)" class="btn btn-warning"><i class="fa fa-pencil"></i>
                    </button>
                    <button (click)="removeUser(user.id)" class="btn btn-danger"><i class="fa fa-remove"></i>
                    </button>
                </div>
            </div>
        </div>
    </li>
</ul>
